h2{
	color: #009a8a;
}

.jumbotron{
	color: #FFFFFF !important;
}

.icon{
	background-image: url(/images/logo.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.banner{
	background-color: #009a8a;
	background-size: cover;
}

.content{
	height: 30%
}

.form{
	background-color: #009a8a;
	background-size: cover;

	margin-bottom: 0px;
}